
:root{
    --color-default:#114B5F;
    --color-primary:#88D499;
    --color-secondary:#1A936F;
    --color-light:#C6DABF;
    --color-highlight:#F3E9D2;
}

:root{
    --font-b:'Mulish', sans-serif;
    --font-h:'Fira Sans', sans-serif;
    --font-p:'Prompt', sans-serif;
}

:root {
    scroll-behavior: smooth;
  }


  
body {
    font-family: var(--font-p);
    color: var(--color-default);
    background-color: var(--color-highlight);
    margin: 0;
  }


nav li a {
    color: var(--color-primary);
    text-decoration: none;
}

a{
  text-decoration: none;
}
  
h1,
h2,
h3
{
  font-family: var(--font-b);
  font-size: 60px;
  font-weight: 700;
  color: var(--color-secondary);
}

.titleColor2{
  color:#F3E9D2;
}

.title1{
  border: 4px 4px 0px white;
}

h4,
h5,
h6{
  font-family: var(--font-h);
  font-size: 40px;
  color: var(--color-primary)
}

p{
  font-size: 20px;
  color: var(--color-default);
  font-family: var(--font-p);
}

.par{
  width: 80%;
}

section {
  padding: 0px 0;
  overflow: hidden;
}

.container{
  padding: 60px;
  z-index: 2;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    z-index: 9;
    position: relative;
}

nav li{
    list-style: none;
    padding: 5px;
    margin: 10px;
}

nav li a{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

nav li a:hover{
    transition: .5s;
    color: var(--color-default);
    text-decoration: underline;
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;    
    text-decoration-thickness: 2px;

}

nav ul{
    display: flex;
    padding: 0;
    gap: 50px;
}

@media only screen and (max-width: 870px) {
    nav ul{
        flex-direction: column;
        gap: 0;
        text-align: center;
        margin: 10px;
        gap: 20px;

    }

    nav ul li a{
      color: #F3E9D2;
    }

    nav{
        justify-content: center;
        background-color: #88D499;
        min-width: 20%;
        padding: 15px;
        border-radius: 20px;
        box-shadow: 10px 10px #114B5F;
        margin:10px;
        z-index: 9;
    }

    #navMenu{
      display: none;
      position: absolute;
      top: 70px;
      z-index: 9;
    }

    #menu{
      font-size: 30px;
      background-color: var(--color-primary);
      font-weight: 300px;
      color: var(--color-default);
      z-index: 9;
      height: 30px;
      padding: 10px;
      border-radius: 10px; 
      margin: 10px;
      box-shadow: 0 10px #114B5F ;
      visibility: visible;
    }
  
    #menu:hover{
      background-color: var(--color-secondary);
      transition: .3s;
    }

    .container-fluid{
        justify-content: right;
        display: flex;
    }
}



@media only screen and (min-width: 870px) {
 #menu{
  visibility: hidden;
 }
}


.btn--action{
    display: block;
    width: 120px;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: #88D499;
    color: white;
    transition: all .5s ease 0s; 
    box-shadow: 0 10px #1A936F;
  }
  
  .btn--action:hover{
  box-shadow: inset 0 0 0 .25rem #1A936F;
  transition:.5s;
  } 

  .btn--action span{
    display: inline-block;
    position: relative;
    transition: all .5s ease;
  }
  
  .btn--action span:before{
    content: '🍃  '; 
    color: white;
    font-size: 1rem;
    display: inline-block;
    position: absolute;
    left: 1.5rem;
    opacity: 0;
    transition: all .1s ease 0s;
  }
  
  .btn--action:hover span{
    padding-left: 1.5rem; 
  }
  
  .btn--action:hover span:before{
    left: 0;
    opacity: 1;
  }
  
  .btn--action:active {
    box-shadow: 0 5px #1A936F;
    transform: translateY(5px);
  }

  @media only screen and (max-width: 870px) {
      .btn--action{
          box-shadow: none;
          width: auto;
          background-color: #114B5F;

      }

      .semi-circle{
        opacity: 0.6;
        transition: .3s;
      }

      .par{
        width: 100%;
      }
   

      .globe{
        width: 150px;
        display: flex;
        position: absolute;
        z-index: 5;
        left: 50px;
        top:50px;
        margin: -20px;


      }
  }

  .header{
    display: flex;
    flex-direction: row;
  }
  .semi-circle{
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary)), url(https://grainy-gradients.vercel.app/noise.svg);
    width: 50%;
    height: 600px;
    border-radius: 110% 0 0 0;
    z-index: 0;
    right: 0;
    position: absolute;
    top:15%;

  }

  #darkmode{
    font-size: 30px;
    color: var(--color-secondary);
    position: absolute;
    margin: 10px;
    vertical-align: center;
    top: 30px;
    right: 50px;
    z-index: 9;
  }

  #darkmode:hover{
    color:var(--color-primary);
    transition: .3s;
  }

  #lightmode{
    font-size: 30px;
    color: #F3E9D2;
    position: absolute;
    margin: 10px;
    vertical-align: center;
    top: 30px;
    right: 50px;
    visibility: hidden;
    z-index: 9;
  }

  #lightmode:hover{
    color:var(--color-light);
    transition: .3s;
  }

  @media only screen and (max-width: 870px) {
    #lightmode{
      right: 100px;
    }

    #darkmode{
      right: 100px;
    }
  }

  @media only screen and (max-width: 1160px) and (min-width: 870px) {
    nav ul{
      gap: 5px;
    }

    .btn--action{
      width: 70px;
      height:10px;
    }

    .globe{
      width: 400px;
      display: flex;
      position: relative;
      right: 60px;
      z-index: 5;
      top:50px;
    }
   
  }


  @media only screen and (min-width: 1160px){
    .globe{
      width: 650px;
      display: flex;
      position: relative;
      right: 100px;
      z-index: 5;
    }
  }

  .logo{
    width: auto;
  }

  .head{
    margin: 0;
  }

  .head-btn{
    display: block;
    width: 50%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: linear-gradient(to right, var(--color-primary), var(--color-secondary));
    color: white;
    transition: all .5s ease 0s; 
    box-shadow: 0 10px #114B5F;
    border: none;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }

  .head-btn:hover{
    box-shadow: 0 10px #88D499;
    background: linear-gradient(to right, var(--color-default), var(--color-secondary));
    color: var(--color-highlight);
  }

  .head-btn a:hover{
    color: var(--color-highlight);
    transition: .3s;
  }

  .head-btn a{
    color: var(--color-default);
    font-weight: 900;

  }

  /* SECTION 2  - - - - - - S T A R T */

  .container-two{
    text-align: right;
    padding: 0px 60px 0px;
    margin: 0px;
    z-index: 2;
    display: flex;
    justify-content: right;
    flex-direction: column;
  }

  .images{
    width: 800px;
    height: 400px;
    background-color: #1A936F;
    margin-left: 60px;
    margin-top: 20px;
  }

  .row-wrapper{
    display: flex;
    flex-direction: row;
  }

  .underline-p{
    color: var(--color-secondary);
    text-decoration: underline;
     
    text-decoration-thickness: 2px;
    margin-top: 0;
  }

  .underline-p:hover{
    -webkit-text-decoration-style: wavy;
    text-decoration-style: wavy;   
  }

  .banner{
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 60px;
    flex-direction: column;
  }

  .objetivos{
    align-items: center;
    display: flex;
    justify-content: center;
    color: var(--color-primary);
  }

  .obj2 h1{
    color: var(--color-secondary);
    font-family: var(--font-b);
    font-size:40px;
  }

  .obj2{
    flex-direction: row;
    display: flex;
    gap: 10px;

  }

  .iconPic{
    width: 100px;
  }

  /*S L I D E R CSS ***** ** ** * * * * S L I D ER CSS*/
/*GLOBALS*/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none;	color:#666;}
a:hover{color:#1bc1a3;}


#wrapper{
	width:600px;
	margin:50px auto;
	height:400px;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;	
}

#slider-wrap{
	width:600px;
	height:400px;
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;
	
	position:absolute;
	top:0;
	left:0;		
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:600px;
	height:400px;	
}

#slider-wrap ul#slider li > div{
	position:absolute;
	top:20px;
	left:35px;	
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;	
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li i{
	text-align:center;
	line-height:400px;
	display:block;
	width:100%;
	font-size:90px;	
}


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;	
	background:rgba(0,0,0,0.1);
	z-index:100;
	
	
	-webkit-user-select: none;  
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-ms-user-select: none;
	
	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.3);	
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
	top: 30px; 
	right:35px; 
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto; 
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;
  
  
}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;	
}




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);	
}





 




